<div>
   <p align="center">
         	  {% if page.copyright %}
             <img src="http://favorites.ren/assets/images/{{ page.copyright }}.jpg" >
            {% else %}
             <img src="http://www.xiaoyaowind.com/assets/images/xiaoyaowind.jpg" >
            {% endif %}
         <br/>
          一个爱奋斗的coder
   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="http://www.xiaoyaowind.com">逍遥风-xiaoyaowind</a>）</strong>
   </p>
</div>
